.registration-form-container{
  max-width:600px;
  margin:60px auto auto auto;
  border-radius: 8px;
  box-shadow: 2px 4px 10px #01091b3c;
  padding: 4rem 2rem;
}


input:focus {
  border:1px solid #007bff;
}

.error {
  color: red;
  margin-top: 8px;
}